.form-group {
    margin-top: 10px;
}
.middle_div {
    margin: auto;
    width: 30%;
}
.middle_div_rooms {
    margin: auto;
    width: 30%;
}
.middle_div_buttons {
    width: 44%;
    margin-left: 37%;
}
.middle_div_paginator {
    margin: auto;
    width: 8%;
}
.middle_h {
    text-align: center;
}
.middle_h_white {
    text-align: center;
    color: white;
}
.middle_p {
    text-align: center;
}
.middle_p_white {
    text-align: center;
    color: white;
}
.middle_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.middle_image_high_format {

    margin-left: 25%;
}