{% extends 'PGapp/Main_Logic/base.html' %}


{% block content %}
	<div class="middle_div">
		<div class="middle_div">
			<a href="{% url 'PGapp:add_rubric' %}" class="btn btn-dark">Add new Rubric</a>
		</div>
	</div>
	{% if rubric_source %}
		{% for element in rubric_source %}
			<div class="middle_div" style="background-color: #212529;">
				<hr>
				<h3 class="middle_h_white">{{ element.rubric }}</h3>
				<p class="middle_p_white">{{ element.description }}</p>
				<p class="middle_p_white">{{ element.tags }}</p>
				<div class="middle_div_buttons">
					<a href="{% url 'PGapp:edit_rubric' element.id %}"
					   class="btn btn-light">Edit</a>
					<a href="{% url 'PGapp:confirm_delete_rubric' element.id %}"
					   class="btn btn-light">Delete</a>
				</div>
				<hr>
			</div>
		{% endfor %}
	{% else %}
		<br><br>
		<div class="middle_div">
			<a class="btn btn-dark"><h3>Nothing is here</h3></a>
		</div>
	{% endif %}
{% endblock %}
