{% extends 'PGapp/Main_Logic/base.html' %}


{% block content %}
	{% if user.is_authenticated %}
		<div class="middle_div">
			<div class="middle_div_buttons">
				<a href="{% url 'PGapp:add_employee' %}" class="btn btn-dark">Add new Employee</a>
			</div>
		</div>
		{% if employee_source %}
			{% for element in employee_source %}
				<div class="middle_div"  style="background-color: #212529;">
					<hr>
					<form method="post" enctype="multipart/form-data">
						{% if element.photo %}
							<img src="{{ element.photo.url }}" height="200" width="170" class="middle_image">
						{% endif %}
						<h3 class="middle_h_white">{{ element.first_name }}&nbsp;{{ element.last_name }}</h3>
						<p class="middle_p_white">{{ element.birth_date }}</p>
						<p class="middle_p_white">{{ element.address }}</p>
						<p class="middle_p_white">{{ element.hire_date }}</p>
						<p class="middle_p_white">{{ element.phone }}</p>
						<div class="middle_div_buttons">
							<a href="{% url 'PGapp:edit_employee' element.id %}"
							   class="btn btn-light">Edit</a>
							<a href="{% url 'PGapp:confirm_delete_employee' element.id %}"
							   class="btn btn-light">Delete</a>
						</div>
						<hr>
					</form>
				</div>
				</br>
			{% endfor %}
		{% else %}
			<div class="middle_div_rooms">
				<div class="middle_div_buttons">
					<p>Nothing is here</p>
				</div>
			</div>
		{% endif %}
	{% else %}
		<h1>none</h1>
	{% endif %}
{% endblock %}
